body {
  background-color: rgba(58, 88, 117, 0.7);
}

.header {
  margin-top: 20px;
  font-family: 'Trade Winds';
}

.rgb-sliders {
  background-color: #ddd;
  padding: 10px;
  margin: 20px auto;
  border-radius: 10px;
}

.border-right-md {
  border-right: 1px solid gray;
}

.inputs {
  display: inline-block;
  width: 75px;
  font-family: 'Permanent Marker', serif;
}

#colorShow {
  height: 20px;
  width: 20px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {opacity: 1;}
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }
  #redSlider::-webkit-slider-thumb {background: red;}
  #redSlider::-moz-range-thumb {background: red;}
  #greenSlider::-webkit-slider-thumb {background: green;}
  #greenSlider::-moz-range-thumb {background: green;}
  #blueSlider::-webkit-slider-thumb {background: blue;}
  #blueSlider::-moz-range-thumb {background: blue;}


  @media (max-width: 768px) {
    .border-right-md {
      border-right: none;
      border-bottom: 1px solid black;

    }

    .border-top-small {
      margin-top: 10px;
    }
  }